# Build files
.gradle
.kotlin
build

# IDE files
*.iml
.idea/*
!.idea/icon.svg
/captures

# Configuration files
keystore.properties
local.properties

# Agent artifacts
.cursor-artifacts

# macOS specific files
.DS_Store

.cursor/
docs/personal_docs

dascle*.apk
source_code.zip